terraform {
  required_providers {
    aws = {
      source = "hashicorp/aws"
      version = "3.37.0"
    }
  }
  backend "s3" {
    bucket = "{{ terraform_s3_bucket }}"
    region = "{{ aws_region }}"
    key    = "{{ workspace }}/s3/terraform.tfstate"

  }
}

provider "aws" {
  region  = "{{ aws_region }}"
}


